{% extends "InkstandThemeBundle::base.html.twig" %}

{% block main_content %}
<ul class="nav nav-pills" style="margin-bottom:15px">
    <li role="presentation" class="{% if app.request.get('_route') == 'inkstand_course_catalog_index' %}active{% endif %}">
        <a href="{{ path("inkstand_course_catalog_index") }}">By Category</a>
    </li>
    <li role="presentation" class="{% if app.request.get('_route') == 'inkstand_course_catalog_all_courses' %}active{% endif %}">
        <a href="{{ path("inkstand_course_catalog_index") }}">All Courses</a>
    </li>
</ul>
<hr>
{% endblock %}