/* Contextual backgrounds
----------------------------- */
.bg-transparent {
	background:transparent;
}

/* Main page header
----------------------------- */
.page-header.page-header-sm {
	margin-top:0;
}
.page-header.page-header-sm h1 {
	margin-top:0;
	font-size:28px;
}