body {
	overflow-x:hidden;
}

body.layout-minimal {
    padding-top:100px;
}

/* Contextual backgrounds
----------------------------- */
.bg-transparent {
	background:transparent;
}

/* Helper class
----------------------------- */
.inline {
	display:inline;
}

/* Main page header
----------------------------- */
.page-header.page-header-sm {
	margin-top:0;
}
.page-header.page-header-sm h1 {
	margin-top:0;
	font-size:28px;
}

/* User menu
----------------------------- */
.navbar-user .img-user {
	margin-top:-8px;
	margin-bottom:-6px;
}

/* Make the navmenu narrower */
.navmenu-fixed-left {
	width:200px;
}

hr.line-bold {
    border-top-width:3px;
}

/* Course activity styles */
ul.activities li.activity {
    padding:5px 0;
    border-bottom:1px solid #eee;
}
ul.activities li.activity:last-child {
    border:none
}

/* Breadcrumbs
----------------------------- */
.breadcrumb.breadcrumb-inline {
	display:inline-block;
}