body {
	overflow-x:hidden;
	background-color:#F1F1F1;
}

body.layout-minimal {
    padding-top:100px;
}

/* Contextual backgrounds
----------------------------- */
.bg-transparent {
	background:transparent;
}

/* Helper class
----------------------------- */
.inline {
	display:inline;
}

.dropdown-backdrop {
	display:none;
}

/* Main page header
----------------------------- */
.page-header.page-header-sm {
	margin-top:0;
}
.page-header.page-header-sm h1 {
	margin-top:0;
	font-size:28px;
}

/* User menu
----------------------------- */
.navbar-user .img-user {
	margin-top:-8px;
	margin-bottom:-6px;
}

/* Make the navmenu narrower */
.navmenu-fixed-left {
	width:200px;
}

hr.line-bold {
    border-top-width:3px;
}

/* Course activity styles */
ul.activities li.activity {
    padding:5px 0;
    border-bottom:1px solid #eee;
}
ul.activities li.activity:last-child {
    border:none
}

/* Breadcrumbs
----------------------------- */
.breadcrumb.breadcrumb-inline {
	display:inline-block;
	background-color: transparent;
}

/* Panels
----------------------------- */
.panel-dark > .panel-heading {
	color: #fff;
	background-color: #4C4F53;
	border-color: #4C4F53;
}

.panel {
	border-radius: 0;
}

.panel > .panel-heading {
	border-radius: 0;
}

.panel > .panel-heading .toolbar {
	margin-top: -6px;
}

/* DataTables
----------------------------- */
.dataTables_wrapper .sorting_asc:after {
	content: "\f0d8" !important;
	font-family: "FontAwesome" !important;
}
.dataTables_wrapper .sorting_desc:after {
	content: "\f0d7" !important;
	font-family: "FontAwesome" !important;
}
.dataTables_wrapper .sorting:after {
	content: "\f0dc" !important;
	font-family: "FontAwesome" !important;
}