body.layout-minimal {
    background: url(http://3.bp.blogspot.com/-V8qC2JQ3WZo/VD_B6NaG1tI/AAAAAAAARqg/yMwxrlvJR4o/s1600/Steeda-Ford-Mustang-S550-5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}