<div class="media">
    <div class="media-left">
        <a href="#">
            <i class="fa fa-file media-object"></i>
        </a>
    </div>
    <div class="media-body">
        <a href="#" data-toggle="modal" data-target="#resource-{{ resource.resourceId }}-preview-modal"><h4 class="media-heading">{{ resource.name }}</h4></a>
        {{ resource.description }}
        <div>
            {{ render(controller("InkstandRatingBundle:Rating:renderRateable", {"rateable": resource})) }}
        </div>
    </div>
</div>