<div class="media">
    <div class="media-left">
        <a href="#">
            {% if resource.thumbnailFileReference %}
                <img width="75" class="media-object" src="{{ image(resource.thumbnailFileReference) }}" alt="">
            {% else %}
                <div style="width:75px"></div>
            {% endif %}
        </a>
    </div>
    <div class="media-body">
        <a href="#" data-toggle="modal" data-target="#resource-{{ resource.resourceId }}-preview-modal"><h4 class="media-heading">{{ resource.name }}</h4></a>
        <div>
            {{ render(controller("InkstandRatingBundle:Rating:renderRateable", {"rateable": resource})) }}
        </div>
    </div>
</div>