<div class="widget col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading"><b>{% block widget_heading %}{% endblock %}</b></div>
        <div class="panel-body">
            {% block widget_content %}

            {% endblock %}
        </div>
    </div>
</div>