<div class="widget col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>{% block widget_heading %}{% endblock %}</span>
        </div>
        <div class="panel-body">
            {% block widget_content %}

            {% endblock %}
        </div>
    </div>
</div>