<h3>Self enroll</h3>
<p>You may enroll yourself into {{ course.name }} and have instant access.</p>
{{ form_start(selfEnrollmentForm) }}
{{ form_widget(selfEnrollmentForm) }}
{{ form_end(selfEnrollmentForm) }}