{% block filePicker_widget %}
    <div class="input-group file-picker">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-paperclip"></i> Choose File</button>
        </span>
        {{ form_widget(form) }}
    </div><!-- /input-group -->
{% endblock %}