{% extends "InkstandThemeBundle::base.html.twig" %}

{% block title %}InkstandCoreBundle:Home:dashboard{% endblock %}

{% block page_header %}{{ 'dashboard'|trans }}{% endblock %}

{% block main_content %}
    <p>You are at the dashboard</p>
{% endblock %}
