{% extends "InkstandThemeBundle::base.html.twig" %}

{% block title %}InkstandCoreBundle:Home:help{% endblock %}

{% block page_header %}Help{% endblock %}

{% block main_content %}
    {# HTML/Bootstrap code here #}
 <div class="row">
  <div class="col-lg-8">
  	<div class="jumbotron">
	  <h1>How can we help?</h1>
	  <p>Browse this page for FAQ's and troubleshooting</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
  </div>
  <div class="col-lg-4">
  	 <div class="input-group form-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
  	<ul class="nav nav-pills nav-stacked">
	  <li role="presentation" class="active"><a href="#">Home</a></li>
	  <li role="presentation"><a href="#">FAQ</a></li>
	  <li role="presentation"><a href="#">Basic Guide</a></li>
	  <li role="presentation"><a href="#">Documentation</a></li>
	  <li role="presentation"><a href="#">Troubleshooting</a></li>
	</ul>
  </div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-phone"></i>  Administration</div>
			<div class="panel-body">Didn't find what you were looking for?  Contact your site administration.
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
					Contact
				</button>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Administration Contact Form</h4>
							</div>
							<div class="modal-body">
								<textarea class="form-control" rows="8"></textarea>	
							</div>				      
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Submit Message</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-wrench"></i>  Developer Tools</div>
				<div class="panel-body">Discover how to contribute to Inkstand LMS.<button type="button" class="btn btn-primary btn-sm">Learn More</button></div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-comment"></i>  Community Forum</div>
				<div class="panel-body">Discuss Inkstand with fellow users across the world.<button type="button" class="btn btn-primary btn-sm">Discuss</button></div>
		</div>
	</div>
</div>

{% endblock %}
