{% if item.children %}
    <ol class="breadcrumb breadcrumb-inline">
        {% for child in item.children %}
            {% if loop.last %}
                <li class="active">{{ child.name|trans }}</li>
            {% elseif child.uri %}
                <li><a href="{{ child.uri }}">{{ child.name|trans }}</a></li>
            {% else %}
                <li>{{ child.name|trans }}</li>
            {% endif %}
        {% endfor %}
    </ol>
{% endif %}