<table class="table table-grid">
    <thead>
        <tr>
            {% block grid_head %}

            {% endblock %}
        </tr>
    </thead>
    <tbody>
        {% block grid_body %}

        {% endblock %}
    </tbody>
</table>