<div class="panel panel-primary">
    {% if panel_title is defined %}
        <div class="panel-heading">
            <h3 class="panel-title">{{ panel_title }}</h3>
        </div>
    {% endif %}
    <div class="panel-body">
        {% block panel_body %}{% endblock %}
    </div>
</div>