<div class="panel panel-dark">
    {% if panel_title is defined %}
        <div class="panel-heading">
            <div class="toolbar pull-right">{% block toolbar %}{% endblock %}</div>
            <h3 class="panel-title">{{ panel_title|trans }}</h3>
        </div>
    {% endif %}
    <div class="panel-body">
        {% block panel_body %}{% endblock %}
    </div>
    {% block panel_extra %}{% endblock %}
</div>