{% extends "InkstandThemeBundle::base.html.twig" %}

{% block title %}InkstandCourseBundle:Course:delete{% endblock %}

{% block main_content %}
    <p class="text-muted">{% trans %}{% endtrans %}</p>

    {% if module.activities|length > 0 %}
        <div class="alert alert-warning">{% trans %}<b>Warning!</b> Deleting this module will also delete the following activities:{% endtrans %}
            <ul>
                {% for activity in module.activities %}
                    <li>{{ activity.name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{{ form_start(deleteFrom) }}
{{ form_widget(deleteFrom) }}
{{ form_end(deleteFrom) }}
{% endblock %}
