{% extends "InkstandThemeBundle::base.html.twig" %}

{% block title %}InkstandCourseBundle:Course:index{% endblock %}

{% block main_content %}
<h1>Welcome to the Course:index page</h1>
{% endblock %}
