{% extends "InkstandThemeBundle::base.html.twig" %}

{% block title %}InkstandCourseBundle:Course:view{% endblock %}

{% block main_content %}
	<h1>Welcome to the Course:view page</h1>
	{% for module in course.modules %}
		<hr>
		{{ include('InkstandThemeBundle::module.html.twig') }}
	{% endfor %}
	<hr>
	<a class="btn btn-default btn-primary" href="{{ path('inkstand_course_module_add', {'courseId': course.courseId}) }}">{% trans %}Add new module{% endtrans %}</a>
{% endblock %}
