{% if category is defined %}
	{% if category.courses|length == 0 %}
		<p class="alert alert-info clearfix">There are no courses in this category. <a class="btn btn-default pull-right" href="{{ path('inkstand_course_add') }}">Add Course</a></p>
	{% endif %}
{% endif %}