<section class="module">
	<div class="module-header clearfix">	
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-fw fa-cog"></i> {% trans %}Manage{% endtrans %} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#"><i class="fa fa-fw fa-pencil"></i> {% trans %}Edit{% endtrans %}</a></li>
				<li><a href="#"><i class="fa fa-fw fa-arrows"></i> {% trans %}Move{% endtrans %}</a></li>
				<li><a href="#"><i class="fa fa-fw fa-copy"></i> {% trans %}Duplicate{% endtrans %}</a></li>
				<li class="divider"></li>
				<li><a href="#"><i class="fa fa-fw fa-remove"></i> {% trans %}Delete{% endtrans %}</a></li>
			</ul>
		</div>
		<h3 style="margin-top:0">{{ module.name }}</h3>
	</div>		
	<div class="module-content">
		<p>{{ module.description}}</p>
		<ul class="list-unstyled">
			{% for item in module.items %}
				<li>
					<a href=""><i class="fa fw fa-link"></i> {{ item.name }}</a>
				</li>
			{% endfor %}
		</ul>
		<!-- Single button -->
	</div>
	<div class="module-footer">
		
	</div>
</section>